<ion-header>
  <ion-toolbar no-border-top color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]='' defaultHref="services"></ion-back-button>
      <ion-title>Detalle de servicio</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-fab vertical="bottom" horizontal="end" slot="fixed"
  style="margin-bottom: 1rem; margin-right: 1rem;"
  *ngIf="servicio?.estado?.procesando">
  <ion-fab-button (click)="goToReason('asistencia')" style="--background: var(--ion-color-secondary);">
    <ion-img src="assets/imgs/icon-asistencia.svg"></ion-img>
  </ion-fab-button>
</ion-fab>

<ion-content>


  <ion-row *ngIf="servicio?.estado?.aceptado">
    <ion-col>
      <ion-button class="button" style="--background: var(--ion-color-secondary)" expand="block"
        (click)="goToNewPatent()">ARRIBO</ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="servicio?.estado?.arribo">
    <ion-col>
      <ion-button class="button" style="--background: var(--ion-color-secondary)" expand="block"
        (click)="goToSignTuto()">FINALIZAR SERVICIO</ion-button>
    </ion-col>
  </ion-row>


  <ion-card>
    <ion-card-content class="card-class">
      <ion-row>
        <ion-col size="8">
          <h2 style="color: black">{{servicio?.tipoServicio?.nombre}}</h2>
          <p style="color: gray; margin-bottom: 0px; font-size: 0.8em;">{{servicioId}}: {{servicio?.diagnostico?.nombre}}</p>
        </ion-col>
        <ion-col size="4" text-right>
          <ion-button *ngIf="servicio" style="margin-bottom: 5px; padding-right: 1rem;"
            class="button-warning" [ngClass]="servicio ? servicioCodigoEstadoButtonClass : ''">{{servicioCodigoEstadoNombre}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToServiceMap()">
    <ion-card-content class="card-class-map">

      <ion-row>
        <ion-col class="col-image" size="3">
          <ion-icon style="color: var(--ion-color-primary); font-size: 5rem;" name="globe"></ion-icon>
        </ion-col>
        <ion-col>
          <h2 style=" color: black; margin-top: 16px;">VER MAPA</h2>
        </ion-col>
        <ion-col text-right>
          <ion-icon style="color: black; font-size: 1.6rem; margin-top: 16px;" item-end name="arrow-forward"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content >

      <ion-row>
        <h2 style="font-size: 1.4rem; color: black;">Cliente: </h2>
        <p style="margin-bottom: 0px; margin-left: 5px; color: gray;">{{servicio?.compania}}</p>
      </ion-row>
      <ion-row>
        <h2 style="font-size: 1.4rem; color: black;">Nombre:</h2>
        <p style="margin-bottom: 0px; margin-left: 5px; color: gray;">{{servicio?.socio?.nombre}}</p>
      </ion-row>
      <ion-row>
        <h2 style="font-size: 1.4rem; color: black;">Marca y modelo:</h2>
        <p style="margin-bottom: 0px; margin-left: 5px; color: gray;">{{servicio?.socio?.vehiculo?.marca}}</p>
      </ion-row>
      <ion-row>
        <h2 style="font-size: 1.4rem; color: black;">Color:</h2>
        <p style="margin-bottom: 0px; margin-left: 5px; color: gray;">{{servicio?.socio?.vehiculo?.color}}</p>
      </ion-row>
      <ion-row *ngIf="servicio?.estado?.arribo">
        <h2 style="font-size: 1.4rem; color: black;">Patente:</h2>
        <p style="margin-bottom: 0px; margin-left: 5px; color: gray;">{{servicio?.socio?.vehiculo?.dominio}}</p>
      </ion-row>
      <ion-row *ngIf="servicio?.montoAdicional > 0 ">
        <h2 style="font-size: 1.4rem; color: black;">Adicionales a cobrar:</h2>
        <p style="margin-bottom: 0px; margin-left: 5px; color: red;">$ {{servicio?.montoAdicional}}</p>
      </ion-row>
      <ion-row>
        <h2 style="font-size: 1.4rem; color: black;">Cobertura de peajes:</h2>
        <p style="margin-bottom: 0px; margin-left: 5px; color: gray;">{{servicio?.peajes}}</p>
      </ion-row>
      <ion-row>
        <h2 style="font-size: 1.4rem; color: black;">Origen:</h2>
        <p style="margin-bottom: 0px; margin-left: 5px; color: gray;">{{servicio?.direccionOrigen}}, {{servicio?.localidadOrigen?.nombre}}</p>
      </ion-row>
      <ion-row *ngIf="servicio?.tipoServicio.nombre != 'MECANICA'">
        <h2 style="font-size: 1.4rem; color: black;">Destino:</h2>
        <p style="margin-bottom: 0px; margin-left: 5px; color: gray;">{{servicio?.direccionDestino}}, {{servicio?.localidadDestino?.nombre}}</p>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="servicio?.referenciaServicio && servicio?.referenciaServicio.length > 0"
    [ngClass]="listReferenciaServicio ? 'listReferenciaServicioCollapse' : 'listReferenciaServicioExpand'">
    <ion-card-header (click)="listReferenciaServicio = !listReferenciaServicio">
        <span style="font-weight: bolder">Referencia de Servicio</span>
        <ion-icon style="float: left ;color: black; font-size: 1.6rem; margin-right: 16px;"
          [name]="listReferenciaServicio ? 'add-circle' : 'remove-circle' ">
      </ion-icon>
    </ion-card-header>
    <ion-card-content *ngFor="let rs of servicio.referenciaServicio">
        <span style="font-weight: bolder">{{rs.fecha}}: </span><span>{{rs.referencia}}</span>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card *ngIf="servicio?.referenciaLocalizacion"
    [ngClass]="listReferenciaLocalizacion ? 'listReferenciaLocalizacionCollapse' : 'listReferenciaLocalizacionExpand'">
    <ion-card-header (click)="listReferenciaLocalizacion = !listReferenciaLocalizacion">
        <span style="font-weight: bolder">Referencia de Localización</span>
        <ion-icon style="float: left ;color: black; font-size: 1.6rem; margin-right: 16px;"
          [name]="listReferenciaLocalizacion ? 'add-circle' : 'remove-circle' ">
      </ion-icon>
    </ion-card-header>
    <ion-card-content>
        <p>{{servicio?.referenciaLocalizacion}}</p>
    </ion-card-content>
  </ion-card> -->

  <ion-card *ngIf="servicio?.referenciaLocalizacion && isArray(servicio?.referenciaLocalizacion) && servicio?.referenciaLocalizacion.length > 0"
    [ngClass]="listReferenciaLocalizacion ? 'listReferenciaLocalizacionCollapse' : 'listReferenciaLocalizacionExpand'">
    <ion-card-header (click)="listReferenciaLocalizacion = !listReferenciaLocalizacion">
        <span style="font-weight: bolder">Referencia de Localización</span>
        <ion-icon style="float: left ;color: black; font-size: 1.6rem; margin-right: 16px;"
          [name]="listReferenciaLocalizacion ? 'add-circle' : 'remove-circle' ">
      </ion-icon>
    </ion-card-header>
    <ion-card-content *ngFor="let rs of servicio.referenciaLocalizacion">
        <span style="font-weight: bolder">{{rs.fecha}}: </span><span>{{rs.referencia}}</span>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="servicio?.estado?.procesando">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>Quiero dejar un comentario</p>
        </ion-col>
      </ion-row>
      <ion-textarea placeholder="Escriba aquí su comentario..." [(ngModel)]="comment"></ion-textarea>
      <ion-row>
        <ion-col text-left>
          <ion-button class=" save-comment" (click)="createComment()">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="servicio?.comentarios && servicio?.comentarios.length > 0"
    [ngClass]="listComments ? 'listCommentsCollapse' : 'listCommentsExpand'">
    <ion-card-header (click)="listComments = !listComments">
        <span style="font-weight: bolder">Comentarios</span>
        <ion-icon style="float: left ;color: black; font-size: 1.6rem; margin-right: 16px;"
          [name]="listComments ? 'add-circle' : 'remove-circle' ">
      </ion-icon>
    </ion-card-header>
    <ion-card-content *ngFor="let comentario of servicio.comentarios">
        <span style="font-weight: bolder">{{comentario.fecha}}: </span><span>{{comentario.referencia}}</span>
    </ion-card-content>
  </ion-card>


</ion-content>


<ion-footer *ngIf="!servicio?.estado?.procesando">
  <ion-toolbar>
        <ion-row>
          <ion-col>
            <ion-button class="button" style="--background: var(--ion-color-secondary)" expand="block" (click)="acceptService()">ACEPTAR</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="button" style="--background: var(--ion-color-light); color: var(--ion-color-secondary)!important;" expand="block" (click)="goToReason('rechazo')">RECHAZAR</ion-button>
          </ion-col>
        </ion-row>

  </ion-toolbar>
</ion-footer>
