<ion-header>
  <ion-toolbar no-border-top color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]='' defaultHref="patent-new"></ion-back-button>
      <ion-title>Fotos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-row style="margin-top: 10px;" *ngIf="obligatory">
  <ion-col text-center class="red-bar">
    FOTO OBLIGATORIA
  </ion-col>
</ion-row>



<ion-row>
  <ion-col padding margin>
    <ion-img [src]="image"></ion-img>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col style="padding-left: 16px; padding-right: 16px;">
    <h2 style="font-size: 16px;">{{imageNumber}}.</h2>
    <h2 style="font-size: 16px;">{{imageText}}</h2>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col >
    <ion-fab horizontal="center" (click)="takePicture()">
      <ion-fab-button color="light">
        <ion-icon style="font-size: 4rem;" name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- <input type="file" accept="image/*" capture="camera" id="camera" /> -->
<!--
    <input type="file" accept="image/*" capture="camera"/> -->
  </ion-col>
</ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar style="--background: var(--ion-color-lightblue)">
    <ion-row>
      <ion-col  *ngIf="!obligatory">
        <ion-button class="button"
          style="--background: var(--ion-color-light); color: var(--ion-color-secondary)!important;"
          expand="block"
          (click)="goToTakenImages()">TERMINAR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button"
          style="--background: var(--ion-color-secondary)"
          expand="block" (click)="goToCheckImages()"
          [disabled]="!newImage">GUARDAR</ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>
